*{
    margin: 0px;
}
nav{
    height: 70px;
    
    box-shadow: 5px 5px 5px;
    display: flex;
    justify-content: center;
}
li{
    font-size: medium;
    list-style: lower-greek;
    color: chocolate;
    padding: 35px;
}
a{
    text-decoration: none;
}
#logo{
    
    height: 50px;
    width: 100px;
    height: 50px;

    display: flexbox;
    justify-content: left;
}

/*.dropdown-menu{
   
}*/
