/* inicio do config da nav */
header{
    background-color: blueviolet;
    height: 70px;
}

nav{
    background-color: aqua;
    display: flex;
    height: 100px;
}

#conteinerform{

    justify-content: space-between;

}
#pesquisa{
   margin-left: 40%;
}
#icnoneNav{
   margin-right: 0%;
}
.nav-item{
    padding-left: 5px;
    padding-right: 5px;
}
/* fim da config da nav */

/* inicio do config dos blocos de musica */
#conteinercard{
    background-color: green;
    height: 400px;
    padding-top: 5%;
    margin-left:  0 auto;
  
    
}
.row{
 justify-content: center;
}
.card{
    background-color: purple;
}
#descricao{
    color: white;
    text-decoration: none;
}

/* fim do config dos blocos de musica */