nav{
    background-color: aqua;
    display: flex;
    height: 100px;
}
.container-fluid{
    background-color: black;
}
#conteinerform{
    background-color: brown;
    justify-content: space-between;

}
#pesquisa{
   margin-left: 40%;
}
#icnoneNav{
    background-color: blueviolet;
    /* justify-items: end; */
}
.navbar-nav {
    justify-content: end;
}