body{
    background-color: black;
}
/* inicio do config da nav */

nav{
    background-color: aliceblue;
    display: flex;
    height: 100px;
}
.navbar-brand{
    color: white;
}
.container-fluid{
    background-color: none;
}
#conteinerform{
    background-color: none;
    justify-content: space-between;

}

#pesquisa{
   margin-left: 40%;
}
#icnoneNav{
    background-color: none;
    justify-items: end;
}
.navbar-nav {
    justify-content: end;
}
/* fim da config da nav */

/* titulo */
#titulo{
    padding-top: 5%;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
}
/* inicio do config dos blocos de musica */
#conteinercard{
    background-color: blue;
    height: 400px;
    padding-top: 5%;
    justify-content: center;
    margin-left: 10%;
}
h5{
    margin-left: 6%;
    color: white;
}
img{
    border-radius: 10px;
}
.row{
    margin-right: 2%;
    justify-content: end;
    background-color: none;
 }
.card{
    background-color: black;
}
.descricao{
    font-size: smaller;
    color: white;
    text-decoration: none;
}

/* fim do config dos blocos de musica */

/* INICIO DO CABEÇALHO */
#cabecalho{
    margin-top: 1px;
    padding-top: 5%;
    height: 280px;
    background-color: none;
    margin-left: 20%;
    box-shadow: 5px 5px 5px;
    display: flex;
    justify-content: flex-start;
    border: 2px solid white;
    border-bottom: 15px solid white;
}
#album{
    background-color: none;
    margin-left: 74px;
}
#descricaocabecalho{
    color: white;
    margin-left: 20px;
    height: 50px;
    background-color: none;
}
#recomendacao{
    color: white;
    height: 80px;
    background-color: none;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* FIM DO CABEÇALHO */

/* incio dos boxe de musica */
#conjdebox{
    background-color: none;
    height: 1000px;
    margin-left: 20%;
    margin-bottom: 10%;
    border-left: 2px solid white;
    padding-top: 40px;
}
.box{
    padding-top: 10px;
    background-color: none;
    border-radius: 7px;
    width: 79%;
    margin-top: 10px;
    background-color: rgb(215, 226, 235);
    margin-left: 2%;
}

/* incio dos boxe de musica */


/* dentro dos boxes de musica*/
.imgboxes{
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

/* dentro dos boxes de musica*/


/* Inicio do footer */
#footer{
    display: flex;
    height: 100px;
    background-color: aliceblue;
}
.card1{
    padding-left: 10px;
    background-color: none;
}
.card2{
    padding-left: 40px;
    background-color: none;
}
.descricao1{
    font-size: smaller;
    color: black;
    text-decoration: none;
    text-decoration: underline;
}
.img{
    height: 50px;
    width: 400px;
    height: 50px;
    justify-content: end;
}
/* Inicio do footer */