body{
    background-color: black;
}

/* inicio do config da nav */
nav{
    background-color: aliceblue;
    display: flex;
    height: 100px;
}
.navbar-brand{
    color: white;
}
.container-fluid{
    background-color: none;
}
#conteinerform{
    background-color: none;
    justify-content: space-between;

}
#pesquisa{
   margin-left: 40%;
}
#icnoneNav{
    display: flex;
    background-color: none;
    justify-content: end;
}
/* fim da config da nav */

/* inicio do aside */
aside{
    padding-top: 2%;
    justify-content: space-around;
    width: fit-content;
    height: fit-content;
    color: white;
    position: absolute;
}
button{
    text-emphasis-color: white;
}
#dropdown{
    color: white;
}
ul{
    background-color: none;
}
.inicio{
    margin-left: 10px;
    text-decoration: underline;
    font-size: large ;
}
#id{
    margin-top: 50px;
}
.dropdown-item{
    font-size: larger;
}
/* fim do aside */

/* inicio do cabeçalho */
#cabecalho{
    margin-top: 1px;
    padding-top: 5%;
    height: 300px;
    background-color: none;
    margin-left: 20%;
    box-shadow: 5px 5px 5px;
    display: flex;
    justify-content: flex-start;
    border: 2px solid white;
    border-bottom: 15px solid white;
}
#descricaocabecalho{
    color: white;
    margin-left: 20px;
    height: 50px;
    background-color: none;
}
#icone{
    margin-top: 5%;
    margin-left: 10%;
    color: white;
}
/* inicio do cabeçalho */

/* incio das pastas */
#conjpastas{
    color: white;
    background-color: none;
    height: 70px;
    display: flex;
    margin-left: 20%;
    border-left: 1px solid white;
    border: 2px solid white;
    border-bottom: 3px dashed white;
    justify-content: center;
    padding-top: 15px;
    
}
#teto{
    color: rgb(179, 157, 157);
    background-color: none;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 26px;
    text-justify: bold;
    text-decoration: underline whitesmoke;
}
#ladoteto{
    color: white;
    background-color: none;
    padding-left: 100px;
    padding-right: 100px;
}
#outroladoteto{
    color: white;
    background-color: none;
    padding-left: 100px;
    padding-right: 20px;
}

#vazio{
    color: white;
    padding-top: 80px;
    background-color: none;
    height: 500px;
    display: flex;
    margin-left: 20%;
    border-left: 1px solid white;
    border: 2px solid white;
    padding-left: 100px;
}
#leg{
    padding-left: 15px;
}
/* fim das pastas */

/* inicio do config gerais */
h5{
    margin-left: 6%;
    color: white;
}
img{
    border-radius: 10px;
}
.descricao{
    font-size: smaller;
    color: white;
    text-decoration: none;
}
/* fim do config gerais */


/* Inicio do footer */
#footer{
    display: flex;
    height: 100px;
    background-color: aliceblue;
}
.card1{
    padding-left: 10px;
    background-color: none;
}
.card2{
    padding-left: 40px;
    background-color: none;
}
.descricao1{
    font-size: smaller;
    color: black;
    text-decoration: none;
    text-decoration: underline;
}
#img{
    justify-content: end;
}
/* Inicio do footer */